/* root variables */
:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 0.861);
  --clr-neutral-200: hsl(0, 0%, 100%);
  --clr-neutral-300: hsla(0, 0%, 0%, 0.081);
  --clr-neutral-400: hsl(35, 80%, 90%);
  --clr-neutral-500: hsl(35, 90%, 84%);
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-primary-400: hsla(120, 54%, 28%, 0.9);
  --clr-primary-100: hsl(130, 70%, 40%);
  --clr-accent-400: hsl(20, 90%, 50%);
  --clr-accent-100: hsl(20, 100%, 76%);
  --clr-accent-0: hsl(20, 100%, 70%);

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: "Roboto Condensed", sans-serif;

  --fw-bold: 600;
  --fw-semibold: 550;
  --fw-regular: 500;

  --fs-topheading: 3.3rem;
  --fs-heading: 2.2rem;
  --fs-subheading: 1.2rem;
  --fs-nav: 0.85rem;
  --fs-body: 1rem;
  --fs-button: 0.8125rem;
  --shadow1: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
  :root {
    --fs-topheading: 4.5rem;
    --fs-heading: 2.5rem;
    --fs-subheading: 1.3rem;
    --fs-body: 1.15rem;
    --fs-nav: 1rem;
  }
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;

  font-family: var(--ff-body);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}
main {
  padding: 15px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styling the header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: white;
  box-shadow: 0px 0px 5px 0px grey;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

#logo {
  margin: 20px;
  height: 80px;
  width: 25%;
}

/* styling the igation bar */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 20px;
}

.nav-item {
  margin-left: 2rem;
}

.nav-item a {
  padding: 8px 10px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: var(--fw-semibold);
  color: var(--clr-primary-400);
  text-decoration: none;
  position: relative;
}

.nav-item a::after {
  content: " ";
  width: 100%;
  height: 3px;
  background-color: var(--clr-accent-400);
  position: absolute;
  bottom: 2px;
  left: 0;
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-item a:hover::after,
.nav-item a.active::after {
  transform: translateX(5px);
  transform: scale(0.6);
  transform-origin: right;
}

.nav-item:hover {
  transform: translateX(5px);
}

.menu-bar {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3.5px;
  border-radius: 5px;
  margin: 5px auto;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-primary-400);
}

@media screen and (max-width: 1100px) {
  .nav-item {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  #logo {
    height: 60px;
    width: 30%;
  }

  header {
    height: 90px;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    right: -70%;
    top: 5.6rem;
    flex-direction: column;
    background-color: white;
    width: 70%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    transition-delay: 0.4s;
    box-shadow: 0 10px 27px #e6e6e6;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .menu-bar {
    display: block;
    cursor: pointer;
    position: relative;
    right: 80%;
  }
  .menu-bar.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-bar.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-bar.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu.active {
    right: 0;
  }
}

/* styling the banner */

.top-2 {
  padding-left: 15px;

  background: url(Picture12.jpg),
    linear-gradient(to top right, var(--clr-primary-400), var(--clr-accent-400));
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  margin-bottom: 40px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  opacity: 75%;
}

/* text styling */

h1 {
  font-size: var(--fs-topheading);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);
}

h4 {
  color: var(--clr-primary-400);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  padding: 20px 15px;
  line-height: 1.2;
  font-family: var(--ff-primary);
  position: relative;
}

h4::after {
  content: " ";
  position: absolute;
  width: 20%;
  height: 4px;
  top: 20px;
  left: 10px;
  background-color: var(--clr-accent-400);
}

h5 {
  font-size: calc(var(--fs-heading) - 30%);
  font-weight: var(--fw-bold);
  background-image: linear-gradient(
    120deg,
    var(--clr-primary-100),
    rgba(50, 205, 50, 0.5)
  );
  /* text-align: center; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h6 {
  font-size: var(--fs-subheading);
  font-weight: var(--fw-semibold);
  text-align: center;
  color: rgb(92, 91, 90);
}

p {
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  color: var(--clr-neutral-900);
}

@media screen and (min-width: 600px) {
  h4,
  h5,
  h6,
  p {
    padding-left: 50px;
    padding-right: 50px;
  }
  h4::after {
    display: none;
  }
  h1 {
    font-size: 4.3rem;
  }
  h5 {
    font-size: var(--fs-heading);
  }
}
@media screen and (min-width: 1000px) {
  h4,
  h5,
  h6,
  p {
    padding-left: 200px;
    padding-right: 200px;
  }
  h1 {
    font-size: var(--fs-topheading);
  }
  .top-2 {
    clip-path: polygon(0 0, 100% 0, 100% 63%, 6% 100%);
    padding-left: 50px;
  }
}
/* end of text styling  */

.partners,
.customers,
.Projects {
  margin: 20px 0px 100px;
}

.sub-customers-con {
  margin-top: 20px;
}
.partners-logos,
.customers-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 60%;
  margin: 10px auto;
  gap: 20px;
}
.logo_ {
  height: 90px;
  padding: 10px;
}

.logo_ img {
  height: 70px;
  margin: auto;
}

.Projects {
  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.Projects .image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}
@media screen and (min-width: 320px) {
  .Projects .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
.Projects .image-gallery .image-container {
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: none;
  border-bottom: 1px solid var(--clr-primary-100);
}
.Projects .image-gallery .image-container:nth-child(1),
.Projects .image-gallery .image-container:nth-child(2),
.Projects .image-gallery .image-container:nth-child(3) {
  display: inline-block;
}

.Projects .image-gallery .image-container .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 200px;
  border-radius: 3px;
}
.Projects .image-gallery .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
@media screen and (min-width: 320px) {
  .Projects .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .Projects .image-gallery .image-container .image {
    height: 300px;
  }
}
.Projects .image-gallery .image-container:hover .image img {
  transform: scale(1.05);
}

.Projects .image-gallery .image-container p {
  font-size: var(--fs-subheading);
  color: var(--clr-primary-400);
  padding: 10px 5px;
  font-weight: var(--fw-semibold);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Projects .image-gallery .image-container:hover p {
  transform: translateX(30px);
}
#load-btn {
  padding: 10px 30px;
  margin: 20px;
  border-radius: 2px;
  display: inline-block;
  color: var(--clr-primary-400);

  position: relative;
  left: 50%;
  border: none;
  transform: translateX(-50%);
  font-size: var(--fs-subheading);
  font-weight: var(--fw-regular);
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--clr-primary-100);
}

#load-btn:hover {
  background-color: var(--clr-neutral-300);
}

/* fixed round button */
.round-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  right: 0;
  border: none;
  bottom: 0;
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-accent-400);
  cursor: pointer;
}
.round-btn:hover,
.round-btn:focus {
  transform: scale(0.9);
}
.round-btn ion-icon {
  font-size: 32px;
  color: white;
}

.bottomcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  padding: 60px;
  gap: 15px;
  width: 100%;
}

/* .contact-btn {
  background-image: linear-gradient(
    120deg,
    var(--clr-primary-100),
    rgba(50, 205, 50, 0.5)
  );
  border: none;
  padding: 15px 30px;
  display: inline-block;

  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: var(--fw-semibold);

  margin: 2rem;
  margin: auto;
} */

.contact-btn {
  background-image: linear-gradient(
    120deg,
    var(--clr-primary-100),
    rgba(50, 205, 50, 0.5)
  );
  border: none;
  border-radius: 10px;
  font-size: 16px;

  font-weight: var(--fw-semibold);
  color: var(--clr-neutral-100);
  padding: 15px 30px;
  margin: 2rem;
  /* margin: auto; */
}

.contact-btn:hover,
.contact-btn:focus {
  transform: scale(0.98);
  background-image: linear-gradient(
    -120deg,
    var(--clr-primary-100),
    rgba(50, 205, 50, 0.5)
  );
}
footer {
  background-image: linear-gradient(
      258deg,
      rgba(237, 237, 237, 0.05) 0%,
      rgba(237, 237, 237, 0.05) 31%,
      rgba(6, 6, 6, 0.05) 31%,
      rgba(6, 6, 6, 0.05) 100%
    ),
    linear-gradient(
      11deg,
      rgba(45, 45, 45, 0.05) 0%,
      rgba(45, 45, 45, 0.05) 72%,
      rgba(247, 247, 247, 0.05) 72%,
      rgba(247, 247, 247, 0.05) 100%
    ),
    linear-gradient(
      235deg,
      rgba(248, 248, 248, 0.05) 0%,
      rgba(248, 248, 248, 0.05) 24%,
      rgba(29, 29, 29, 0.05) 24%,
      rgba(29, 29, 29, 0.05) 100%
    ),
    linear-gradient(90deg, rgb(54, 254, 89), rgb(71, 192, 12));

  background-color: var(--clr-primary-400);
  background-blend-mode: soft-light;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  padding: 30px;
  bottom: 0;
}

footer p {
  font-size: calc(var(--fs-body) - 10%);
  padding-top: 0.5in;
  font-weight: lighter;
  margin: 0px;
  padding-left: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
footer p .copyright {
  font-size: calc(var(--fs-body) + 5%);
}
footer .fa-brands {
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 5px;
  border-radius: 50%;
}
/* end of footer styling */
